html, body, #panel-base {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#map {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* データリストの写真のスタイル*/
.data-list-photo {
  float: left;
  max-width: 32px;
  max-height: 48px;
  border-radius: 5px;
}

.text-protected {
  color: #880;
}

.text-private {
  color: #800;
}
